@import url('fonts.css');

:root {
    --background-color: linear-gradient(left, #7A6174, #9B9FB5);
    --main-color: rgb(234, 234, 234);
    --main-background-color: #7a6174;
    --secondary-background-color: #9b9fb5;
    --secondary-color: rgb(39, 38, 38);
    --font-family: 'Share Tech', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--main-background-color);
    color: var(--main-color);
    font-family: var(--font-family);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
    padding: 0 2rem;
}

.active {
    background-color: var(--main-background-color);
    color: var(--main-color);
    text-decoration: none;
}

.nav-option {
    padding: 8px 10px;
    border-radius: 12px;
}

.main {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

