@import url('fonts.css');
@import url('variables.css');

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: var(--background-color);
    color: var(--main-color);
    font-family: var(--font-family);
}

header {
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
    padding: 0 3vw;

    h1 {
        margin: 0;
        font-size: 2rem;

        a {
                text-decoration: none;
                color: var(--secondary-color);
            }
    }
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
}

.nav-option {
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
    text-decoration: none;
    transition: all .4s ease-in-out;
    padding: 8px 10px;
    margin: 0 .2vw;
    border-radius: 6px;
    font-size: 1.2rem;
}

.nav-option:hover {
    background-color: var(--main-background-color);
    color: var(--main-color);
    transform: scale(1.1);
}

nav:hover .active {
    transform: scale(1);
}

.active {
    transform: scale(1.2);
    font-weight: bold;
    transition: all .4s ease-in-out;
}

.main {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}