.branching-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 3rem;
  border-radius: 16px;
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
}

code {
    background-color: rgba(0, 0, 0, 0.2);
}
