@import url('fonts.css');
@import url('variables.css');

* {
    box-sizing: border-box;
}

.body {
    margin-top: 4vh;
    color: var(--main-color);
}

.subheading {
    font-size: 2rem;
    margin-left: clamp(35px, 3.5vw, 100px);
}

.example {
    display: flex;
    width: 100%;
    border-top: solid 1px var(--main-color);
}

.instructions {
    font-size: 1.3rem;
    margin-left: 1vw;
    width: 50%;
    padding: 3%;

    p{
        margin: 0;
        padding: 0;
    }
}

.demo {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 3%;
    background: transparent;
}

.terminal-head {
    display: flex;
    justify-content: space-between;
    background-color: rgb(74, 74, 74);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 25px;
    width: 100%;
    font-size: 1rem;
    color: rgba(240, 248, 255, 0.11);
    padding: 5px 8px;
}

.terminal-text {
    width: 100%;
    min-height: fit-content;
    background-color: black;
    font-size: 1.3rem;
    word-wrap: break-word;
    padding: 13px;
    color: rgb(203, 203, 203);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (orientation: portrait) {
    .example {
        flex-direction: column;
    }

    .instructions {
        width: 100%;
        margin: 0;
    }

    .demo {
        width: 100%;
    }
}



