.page-title {
    margin-top: 1vh;
    margin-left: 2vw;
    width: clamp(80px, 25vw, 500px);
    height: fit-content;
}

.title-head {
    background-color: rgb(74, 74, 74);
    height: 25px;
    font-size: 1rem;
    color: rgba(240, 248, 255, 0.11);
    padding: 5px;
}

.title-text {
    background-color: black;
    font-size: 1.5rem;
    padding: 13px;
    color: rgb(2, 190, 27);
}