.wrapper {
    display: flex;
    flex-direction: column;
}

.intro {
    margin-left: 16px;
}

.content {
    border: 4px solid black;
    margin: 16px;
    padding: 4px;

    h2 {
        text-decoration: underline;
    }

    li {
        margin-bottom: 16px;
    }
}

.tutorial {
    border: 4px solid black;
    margin: 16px;

    h2 {
        text-decoration: underline;
        padding-left: 4px;
    }
}

.tutorial--image {
    height: auto;
    width: 90%;
    border: 4px solid black;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial--text {
    border: 4px solid black;
    margin: 16px;
    padding: 4px;
}

@media screen and (min-width: 769px) {
    .wrapper {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .content,
    .tutorial {
        width: 45%;
        height: auto;
    }
}



