.wrapper {
    display: flex;
    flex-direction: column;
}

.intro {
    margin-left: 16px;
}

.content {
    border: 5px solid black;
    margin: 16px;
    padding: 6px;

    h2 {
        text-decoration: underline;
    }
}

.tutorial {
    border: 5px solid black;
    margin: 16px;
}

.tutorial--image {
    height: 150px;
    border: 5px solid black;
    margin: 16px;
}

.tutorial--text {
    height: 150px;
    border: 5px solid black;
    margin: 16px;
}


