.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    height: 150px;
    border: 5px solid black;
    margin: 16px;
}

.tutorial {
    height: 150px;
    border: 5px solid black;
    margin: 16px;
}


